:root {
  --white: #ffffff;
  --blue: #016bc1;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-blue {
  background-color: var(--blue);
  width: 909px;
  height: 1286px;
}

.main-container {
  overflow: hidden;
  position: relative;
  width: 909px;
  height: 1286px;
  user-select: none;
}

/* Textos */
p {
  font-family: 'AcuminPro-Regular', sans-serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  word-spacing: 2.66px;
  text-indent: 30px;
}

h1 {
  letter-spacing: 0.15px;
  font-family: 'AcuminPro-Bold', sans-serif;
  z-index: 2;
}

.page-number {
  left: 847px;
  bottom: 105px;
  font-size: 18px;
  font-family: 'AcuminPro-Bold', sans-serif;
  position: absolute;
  user-select: none;
  line-height: 1.5;
  color: var(--blue);
}

.rotated-text-left {
  transform: rotate(270deg);
}

.rotated-text-right {
  transform: rotate(90deg);
}

.hidden {
  visibility: hidden;
}

/* Fontes */
@font-face {
  font-family: 'AcuminPro-Bold';
  src: url('fonts/AcuminPro-Bold_3c.woff') format('woff');
}

@font-face {
  font-family: 'FuturaPT-ExtraBold';
  src: url('fonts/FuturaPT-ExtraBold_3d.woff') format('woff');
}

@font-face {
  font-family: 'AcuminPro-Regular';
  src: url('fonts/AcuminPro-Regular_1-.woff') format('woff');
}

@font-face {
  font-family: AcuminPro-UltraBlack_27;
  src: url('fonts/AcuminPro-UltraBlack_27.woff') format('woff');
}

/* Definições de impressão */
@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}
