/* Estilo para o texto */

.destination {
  width: 1100px;
  position: absolute;
  transform-origin: bottom left;
  left: 200px;
  bottom: 127px;
  font-size: 92px;
  font-family: 'AcuminPro-UltraBlack_27', sans-serif;
  color: var(--white);
  user-select: none;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.text-paragraph {
  position: absolute;
  margin-left: 202px;
  margin-bottom: 60px;
  margin-right: 50px;
  color: var(--white);
  bottom: 0;
  word-spacing: 1px;
  letter-spacing: 0.04px;
  line-height: 1.2;
  height: 270px;
}

.main-photo {
  position: absolute;
  right: 0;
}
