.main-photo {
  position: absolute;
  right: 0;
  top: 54px;
  bottom: 54px;
}

.logo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.city-name-title {
  left: 233.2px;
  bottom: 55.9px;
  font-size: 144px;
  letter-spacing: 2.54px;
  transform-origin: bottom left;
  font-family: 'FuturaPT-ExtraBold', sans-serif;
  color: var(--white);
  position: absolute;
  user-select: none;
  line-height: 1.5;
}
