.section-title {
  position: absolute;
  font-size: 73px;
  color: var(--blue);
  transform-origin: bottom right;
  top: 25px;
  right: 720px;
}

.about-hosting {
  color: var(--black);
  position: absolute;
  line-height: 1.3;
  height: 570px;
  width: 560px;
  left: 299px;
  top: 55px;
}

.image-aboutHosting {
  position: absolute;
  bottom: 0;
  right: 0;
}
