.first-image {
  position: absolute;
  right: 0;
}

.second-image {
  position: absolute;
  left: 57px;
  bottom: 70px;
}

.first-paragraph {
  position: absolute;
  top: 649px;
  left: 58px;
  right: 54px;
}

.second-paragraph {
  position: absolute;
  top: 878px;
  left: 616px;
  right: 49px;
  bottom: 336px;
  word-spacing: 1px;
  line-height: 1.3;
}
