.first-paragraph {
  position: absolute;
  top: 187px;
  left: 687px;
  right: 15px;
  letter-spacing: 0.1px;
  line-height: 1.3;
}

.second-paragraph {
  position: absolute;
  top: 857px;
  right: 680px;
  left: 39px;
  line-height: 1.1;
  letter-spacing: 0.1px;
}

.second-image {
  position: absolute;
  bottom: 0;
  right: 0;
}
